body {
  background-color: gray;
  font-size: 150%;
  font-weight: 500;
}
body div {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
/*=====================Container============================*/
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  justify-content: space-evenly;
}
